@use "../../presets" as *;
@use "../../mixins" as *;

.navbar {
    margin-bottom: 134px;

    @include md {
        margin-bottom: 75px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        -moz-column-gap: 23px;
             column-gap: 23px;
        margin-left: -10px;

        @include md {
            display: flex;
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            transition: 0.6s;
        }
    }

    &__link {
        color: $color-black;
        padding: $gap-sm;
        display: block;
        transition: scale 0.1s;
        letter-spacing: $letter-spacing;
        cursor: pointer;
        text-transform: uppercase;

        &--active {
            color: $color-primary;
        }
        
        &:focus,
        &:hover {
            color: $color-primary;
        }
    }

    &__btn {
        width: 30px;
        height: 22px;
        position: relative;
        margin: 0;
        transform: rotate(0deg);
        transition: all .5s ease-in-out;
        cursor: pointer;

        @include md {
            &.active + .nav-show {
                visibility: visible;
                opacity: 1;
                transform: translate(0, 20%);
            }
        }

        @include md-min {
            display: none;
        }

        &.active span {
            &:nth-child(1) {
                top: 9px;
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                left: -30px;
            }

            &:nth-child(3) {
                top: 9px;
                transform: rotate(-135deg);
            }
        }

        &-row {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: $color-black;
            border-radius: 4px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                top: 18px;
            }
        }


    }

}